{% extends "base/base.html"%} 
{% block start %}
        <section id="page-header" class="about-header">
           
            <h2>#Knows Us</h2>
            <p>Communicate the story of business. </p>
           
        </section>

        <section id="about-head" class="section-p1">
            <img src="/media/img/new/how-to-optimize-your-website-to-influence-user-behavior.jpg" alt="">
            <div>
            <h2>What is Oxidised Jewellery?</h2>
            <p>Oxidised jewellery is silver jewellery that has been purposefully oxidised by a jeweller to create a strong, black patina.  
                For those who like a bit of chemistry it's a reaction between silver and sulphur to form a silver sulphide layer on the surface of the metal. 
                Silver sulphide is a dense black colour, creating the patina you see in the image above.
                The ring on the left has been oxidised using liver of sulphur and the ring on the right has been left in it's natural, silver state.</p>

                <abbr title="">However if you are a fan of deep, black oxidised silver you don't have to worry about any of these things!</abbr>

                <br><br>

                <marquee bgcolor="#ccc" loop="-1" scrallamount="5" width="100%">All Silver will oxidise naturally over time, which can be an irritating occurrence in non-oxidised silver jewellery, i.e tarnish!
                </marquee>
            </div>
        </section>

        <section id="about-app" class="section-p1"> 
            <h1>See Our <a target="_blank" href="https://www.youtube.com/@d9creation810">Video</a> </h1>
            <div class="video">
                 <video autoplay muted loop src="/media/img/new/demo.mp4"></video>
            </div>
           
        </section>

        <section id="feature" class="section-p1">
            <div class="fe-box">
                <img src="/media/img/shipping/istockphoto-1309243817-612x612.jpg" alt="">
                <h6>Free shipping</h6>
            </div>
            <div class="fe-box">
                <img src="/media/img/shipping/11zon_resized/order_2.jpg" alt="">
                <h6>Online Order</h6>
            </div>
            <div class="fe-box">
                <img src="/media/img/shipping/11zon_resized/wallet_5.png" alt="">
                <h6>Save Money</h6>
            </div>
            <div class="fe-box">
                <img src="/media/img/shipping/11zon_resized/pro_3.jpg" alt="">
                <h6>Promotion</h6>
            </div>
            <div class="fe-box">
                <img src="/media/img/shipping/11zon_resized/images01.jpg" alt="">
                <h6>Happy Sell</h6>
            </div>
            <div class="fe-box">
                <img src="/media/img/shipping/11zon_resized/support_4.png" alt="">
                <h6>24/7 Support</h6>
            </div>


        </section>

{% endblock %}
        