{% extends 'base/base.html'%}
{% block start %}
        <section id="page-header" class="blog-header">
           
            <h2>#Read More</h2>
            <p>We Know More About This </p>
           
        </section>

        <section id="blog">
            <div class="blog-box">
            <div class="blog-img">
                <img src="/media/img/new/b img 1.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>#  Oxidized Silver Jewellery Sets</h4>
                <p>From a bold choker to long rani haar, from a dainty chain to mid-length necklace,
                    oxidised necklace are meant for all moods. Adding ribbons, laces, feathers,
                    stones into the design of such necklaces is creatively....</p>
                    <a href="#"> LEARN MORE</a>
            </div>
            <h1>12/02</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="/media/img/new/b img 2.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>#  Oxidised Jewellery Temple Style Jhumkas</h4>
                <p>Whether it is the Jhumkas, Chandbalis, earrings with tassels and pearls, 
                    long drop earrings with pom poms or a simple ear stud with a diamond in the centre,
                     oxidised earrings in all forms look beautiful and versatile....</p>
                    <a href="#"> LEARN MORE</a>
            </div>
            <h1>15/02</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="/media/img/new/b img3.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>#  Oxidised Metal Toe Rings</h4>
                <p>A ring, whether for the finger or for the nose, is when oxidised, 
                    are bound to add so much prettiness to a woman’s hand and face. 
                    Big oxidised finger rings look like statement pieces of jewellery and oxidised nose rings give an edge to a woman’s look....</p>
                    <a href="#"> LEARN MORE</a>
            </div>
            <h1>18/02</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="/media/img/new/b img4.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>#  Oxidized Rings</h4>
                <p>A collection of jewellery without rings is as incomplete as pizza without cheese. 
                    Whether it is men or women, everyone has a soft corner in their hearts for rings.
                    These metal bands have become the pure and romantic bond of love between you and your loved ones....</p>
                    <a href="#"> LEARN MORE</a>
            </div>
            <h1>20/02</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="/media/img/new/b img5.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>#  Oxidized Jewellery Sets</h4>
                <p> The more contemporary designs of necklaces, earrings, nose rings,
                     and bangles in oxidised jewellery are also a trend amongst the working women as they feel comfortable
                      pairing their oxidised jewellery with their formal office wears too! </p>
                    <a href="#"> LEARN MORE</a>
            </div>
            <h1>25/02</h1>
        </div>
        <div class="blog-box">
            <div class="blog-img">
                <img src="/media/img/new/b img6.jpg" alt="">
            </div>
            <div class="blog-details">
                <h4>#  Oxidized Silver Short Jewellery Sets</h4>
                <p>If you don’t have an oxidized necklace in your collection yet, then you’re about to experience a refreshing change in your style.
                     You can go for some bold designs that look good on western wear, right?</p>
                    <a href="#"> LEARN MORE</a>
            </div>
            <h1>05/03</h1>
        </div>
        </section>

        <section id="pagination" class="section-p1">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#"><i class="fas fa-arrow-right"></i></a>
        </section>

        
{% endblock %}