{% extends 'base/base.html'%}
{% block start %}

        <section id="page-header" class="about-header">
           
            <h2>#Let's Talk</h2>
            <p>Are easy to find, so a visitor can quickly get in touch with you. </p>
           
        </section>
        <section id="contect-details" class="section-p1">
            <div class="details">
                <span>GET IN TOUCH</span>
                <h2>visit one of our agency or contect us today</h2>
                <h3>Head Office</h3>
                <div>
                    <li>
                        <i class="fas fa-map"></i>
                        <p>15/6 Patel Park, Nr.jivanwadi,Ahmedabad</p>
                    </li>
                    <li>
                        <i class="far fa-envelope"></i>
                        <p>priceouspieces22@gmail.com</p>
                    </li>
                    <li>
                        <i class="fas fa-phone-alt"></i>
                        <p>+91 93165 19791</p>
                    </li>
                    <li>
                        <i class="far fa-clock"></i>
                        <p>Monday to Saturday: 09:00am to 04:00pm</p>
                    </li>
                </div>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.5872479814857!2d72.65606801444255!3d23.
                03892252149927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e875ddb1ca4e1%3A0x83c058465e84b2ba!2sIMPECT%20ENTERPRISE!5e0!3m2!1sen!2sin!4v1681009210679!5m2!1sen!2sin"
                 width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>

        <section id="form-details">
            <form action="">
                <span>LEAVE A MESSAGE</span>
                <h2>We like to hear from you</h2>
                <input type="text" placeholder="Your Name">
                <input type="text" placeholder="Email"> 
                <input type="text" placeholder="Subject">
                <textarea name="" id="" cols="30" rows="10" placeholder="Your Massage"></textarea>
                <button class="normal">Submit</button>
            </form>
            <div class="people">
                <div>
                    <img src="/media/img/new/pp.png" alt="">
                    <p><span>Priceous Pieces</span> E-Commerce Startup <br>Phone: +91 70481 90907 <br>Email: priceouspieces22@gmail.com</p>
                </div>
                <div>
                    <img src="/media/img/new/impect.png" alt="">
                    <p><span>Impect.E</span> First E-Commerce Startup <br>Phone: +91 93165 19791 <br>Email: impect.e2412@gmail.com</p>
                </div>
            </div>
        </section>

       
{% endblock %}