{% extends 'base/base.html'%}
{% block start %}

        <section id="prodetails" class="section-p1">
            <div class="single-pro-image">
                <img src="/media/img/product/1/pro1.webp" width="100%" id="MainImg" alt="">
            
            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="/media/img/product/1/pro1.webp" width="100%" class="small-img" alt="">
                </div>
                    <div class="small-img-col">
                        <img src="/media/img/product/1/pro1111.webp" width="100%" class="small-img" alt="">
                    </div>
                    <div class="small-img-col">
                        <img src="/media/img/product/1/pro11.webp" width="100%" class="small-img" alt="">
                    </div>
                    <div class="small-img-col">
                        <img src="/media/img/product/1/pro111.jpg" width="100%" class="small-img" alt="">
                    </div>
                </div>
            
            </div>

            <div class="single-pro-details">
                <h6>Home/jewellery</h6>
                <h4>Girls nackless</h4>
                <h2>500.00</h2>
                <select>
                    <option>Select Size</option>
                    <option>Free Size</option>
                </select>
                <input type="Number" value="1">
                <button class="normal">Add To Cart</button>
                <h4>Product Details</h4>
                <span>Best for Gifting and for personal Use, combine it with matching dress and be the limelight of every Occassion<br>
                    Plated with High Quality Polish for Long Lasting Finish<br>
                    Suitable for all occassions<br>
                    Nickel free and Lead free as per International Standards that makes it very skin friendly. The plating is non-allergic and safe for all environments<br>
                    Jewelery Care : Never allow your fashion jewellery to come in contact with harsh chemicals, oils, nor spray perfumes directly on them. This will cause the jewellery to fade, discolour, or even ruin them completely. And we wouldn’t want that!</span>
            </div>

        </section>

        <section id="product1" class="section-p1">
            <h2>Featured Products</h2>
            <p>You wear your jewelry, don’t let it wear you</p>
            <div class="pro-container">
                <div class="pro">
                <img src="/media/img/new/01.jpg" alt="">
                <div class="des">
                    <span>PRICEOUS PIECES</span>
                    <h5>Bird Cage nackless</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>500.00</h4>
                </div>
                <a href="#"><i class="fas fa-cart-plus cart"></i></a>
            </div>
            <div class="pro">
                <img src="/media/img/new/02.jpg" alt="">
                <div class="des">
                    <span>PRICEOUS PIECES</span>
                    <h5>MultiBird nackless</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>500.00</h4>
                </div>
                <a href="#"><i class="fas fa-cart-plus cart"></i></a>
            </div>
            <div class="pro">
                <img src="/media/img/new/03.jpg" alt="">
                <div class="des">
                    <span>PRICEOUS PIECES</span>
                    <h5>Bride Dolly nackless</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>500.00</h4>
                </div>
                <a href="#"><i class="fas fa-cart-plus cart"></i></a>
            </div>
            <div class="pro">
                <img src="/media/img/new/04.jpg" alt="">
                <div class="des">
                    <span>PRICEOUS PIECES</span>
                    <h5>Krishna Flute nackless</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>500.00</h4>
                </div>
                <a href="#"><i class="fas fa-cart-plus cart"></i></a>
            </div>
            </div>
        </section>

        <section id="newsletter" class="section-p1 section-m1">
            <div class="newstext">
                <h4>Sign Up For newsletters</h4>
                <p>Get Email updates about our latest shop and <span>Special Offers.</span>
                </p>
            </div>
                <div class="form">
                    <input type="text" placeholder="Your Email Address">
                    <button class="normal">Sign up</button>
            </div>
        </section>

{% endblock %}
